// @use './reset';
@use './color' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}

.navbar-nav {
    .nav-link {
        text-transform: uppercase;
        color: $white;
    }
    .nav-link:focus,
    .nav-link:hover,
    .nav-link.active {
        color: $main-color;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-brand {
    text-transform: uppercase;
    color: $white;
}

.fa-bars {
    color: $white;
}

// LOGO
.navbar-brand {
    width: 110px;
    height: 90px;
    align-items: center;
    .logo-img {
        width: 110px;
        height: 90px;
    }
}

