* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 116px;
}

body {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

section {
  padding: 40px 0;
  width: 100%;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.text-title {
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 80px;
  height: 4px;
  background-color: #d09f46;
}

.navbar {
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s;
}

.navbar-brand {
  text-transform: uppercase;
  color: #fff;
}

.fa-bars {
  color: #fff;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  color: #fff;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #d09f46;
}

.navbar-toggler {
  padding: 10px 15px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-brand {
  width: 110px;
  height: 100px;
  align-items: center;
}
.navbar-brand .logo-img {
  width: 110px;
  height: 100px;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: url("../assets/img/main-lamborgini640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.hero-img .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.btn-outline-light {
  margin-top: 2px;
  text-transform: uppercase;
}

.about-us-card-title {
  font-size: 18px;
  text-transform: uppercase;
}

.about-us-card-text,
.services-card-text {
  font-size: 14px;
}

.about-us-hover,
.services-hover {
  transition: 0.5s;
}

.about-us-hover:hover,
.services-hover:hover {
  color: #d09f46;
}

i {
  margin-top: 20px;
  font-size: 30px;
}

.section-about-us {
  color: #333;
}

.section-services {
  position: relative;
  color: #fff;
  background-image: url("../assets/img/car-broken640.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.section-services .services-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.services-hover {
  width: 200px;
  border: 2px solid red;
}
.services-hover .services-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.services-hover i {
  font-size: 36px;
}
.services-hover .services-card-text {
  height: 100px;
  border: 2px solid blue;
}

@media (min-width: 1200px) {
  .hero-img {
    background-image: url("../assets/img/main-lamborgini1920.jpg");
  }
}
@media (min-width: 992px) {
  .section-services {
    background-image: url("../assets/img/car-broken1920.jpg");
  }
}/*# sourceMappingURL=style.css.map */